h4{
    color:rebeccapurple;   
}
h2{
    color: royalblue;
}

h3{
    color: red;
}
body{
    padding:0px;
    margin:0px;
}
#div1{
    background-color:#6666ff;
    border:black;
    color:white;
    line-height:40px;
    padding:10px;
    padding-left:18px;
    font-size:x-large;

    /* margin: 2px; */

}
h1{
    color:whitesmoke;
    font-family:'Times New Roman', Times, serif;
    text-transform: uppercase;
    background-color:black;
    width:auto;
    font-size:24px;
    text-align: center;
    width:100%;
}


#mytable, #mytable1{
    text-align: center;
  margin: 0px 350px;
}